## Aprendizaje supervisado
### Regresión lineal y Logística

## https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)

In [57]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [5]:
source = 'https://raw.githubusercontent.com/nparis87/MachineLearning/main/CreditQuality.csv'

data = pd.read_csv(source, sep=';')

data.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,11,6,34,43,1169,65,75,4,93,101,...,121,67,143,152,2,173,1,192,201,0
1,12,48,32,43,5951,61,73,2,92,101,...,121,22,143,152,1,173,1,191,201,1
2,14,12,34,46,2096,61,74,2,93,101,...,121,49,143,152,1,172,2,191,201,0
3,11,42,32,42,7882,61,74,2,93,103,...,122,45,143,153,1,173,2,191,201,0
4,11,24,33,40,4870,61,73,3,93,101,...,124,53,143,153,2,173,2,191,201,1

In [7]:
data.shape

(1000, 21)

## Partiendo los datos

In [36]:
train = data.sample(800)
test = data.iloc[np.invert(data.index.isin(train.index))]

In [ ]:
#### Qué hace falta????

## Entrenar el modelo

In [83]:
logist = LogisticRegression(max_iter=500).fit(x_train, y_train)

In [80]:
y_pred = logist.predict(x_test_t)

In [85]:
#logist.predict_proba(x_test_t)

## Trabajo en Clase

Normalizar los datos y probar resultados de clasificación

Cambiar el umbral de decisión para que el resultado de crédito sea más exigente en cuando a asignación de créditos