In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler, MaxAbsScaler, LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, plot_confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.tree import plot_tree

In [3]:
source = 'https://raw.githubusercontent.com/nparis87/MachineLearning/main/Complete.csv'

data = pd.read_csv(source, sep=';')


data.drop(['Set'], axis = 1, inplace = True)

## Haciendo una conversión de variables ordinales manualmente y personalizada

label = list(data['Spending_Score'].unique()) # se crea una lista con las etiquetas
num = [1,2,3] # lista de valores numéricos para cada etiqueta
mapping = {}  # diccionario de equivalencia entre listas

for x,y in enumerate(label):
    print(x, y)
    mapping[y] = num[x]

X = data.drop(['Spending_Score', 'ID'], axis = 1)
Y = data[['Spending_Score']]
    
Y = LabelEncoder().fit_transform(Y)

tareas = [('imputer', SimpleImputer(strategy='most_frequent')), 
              ('encoder', OrdinalEncoder())]
                            
pipe = Pipeline(tareas)
X2 = pipe.fit_transform(X)

0 Low
1 Average
2 High

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [21]:
Xframe = pd.DataFrame(X2, columns=X.columns)
Xframe.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Family_Size
0,1.0,0.0,4.0,0.0,5.0,1.0,3.0
1,0.0,1.0,18.0,1.0,2.0,1.0,2.0
2,0.0,1.0,44.0,1.0,2.0,1.0,0.0
3,1.0,1.0,44.0,1.0,7.0,0.0,1.0
4,0.0,1.0,20.0,1.0,3.0,1.0,5.0

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate, cross_val_score 

clf = RandomForestClassifier(max_depth=3, random_state=0)

###Trabajo en clase

Comparar la validación cruzada de un modelo simple de árbol con la de un Random Forest

In [ ]:
vc_resultado = cross_validate(tree, X2, Y, cv=5, scoring=('accuracy'), return_train_score=True)
vc_resultado['test_score']